<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>Amanda</string>
		<string>Ann</string>
		<string>Ashley</string>
	</array>
	<key>B</key>
	<array>
		<string>Ben</string>
		<string>Beth</string>
	</array>
	<key>C</key>
	<array>
		<string>Ca</string>
		<string>Cb</string>
	</array>
</dict>
</plist>
